.colour-editor-container {
    display: flex;
    align-items: center;
    margin: .5rem;
}

.colour-editor-button {
    width: 2.2rem;
    height: 2rem;
    border: solid 1px lightgray !important;
}

.colour-editor-label {
    -webkit-tap-highlight-color: #00000000;
}
