.lsc-led-segment-list-item {
    width: 33%;
    margin-top: 2px;
    margin-bottom: 8px;
}

.lsc-led-segment-list-item-no-icon {
    width: 33%;
    height: 65px;
    vertical-align: top !important;
    margin-top: 2px;
    margin-bottom: 8px;
}

.lsc-led-user-segment-list-item {
    margin-bottom: 12px;
}

.lsc-check-mark {
    position: absolute;
    bottom: 2px;
    right: 14px;
}

.lsc-check-mark-no-icon {
    position: absolute;
    top: 34px;
    left: 10px;
}
