/* Full page application */
.App {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: none; /* https://developers.google.com/web/updates/2017/01/scrolling-intervention */
}

/* Remove body margin and selection semantics */
body {
    margin: 0;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}
