.Bouncefix {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.button-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    padding: 6px;
    background-color: purple;
}

.button-pad > button {
    border: 2px gainsboro;
    border-radius: 2px;
    background-color: gainsboro;
    padding: 1em;
    color: #303040;
    font-weight: bold;
    height: 5em;
    -webkit-tap-highlight-color: #00000000;
}

.button-pad > button:active {
    background-color: gainsboro;
    color: #303040;
    border-top-color: orange;
    border-top-width: 7px;
    border-top-style: solid;
}

.button-pad > button.button-active {
    border-top-color: darkorange;
    border-top-width: 7px;
    border-top-style: solid;
}

.button-pad > button.button-long-pressed {
    background-color: darkorange;
}

.button-pad-bottom-padding {
    background-color: purple;
    height: 10000px;
}
