.cp-content-height {
    height: 25rem;
}

.cp-colour-swatch {
    width: 80%;
    margin-left: 10%;
    height: 40px;
    border-radius: 10px;
}

.cp-sliders {
    position: absolute;
    top: 104px;
    bottom: 69px;
    width: 100%;
}

.cp-slider {
    float: left;
    width: 30%;
    height: 100%;
    padding: 15px;
}

/* 0 - 360 in 60 degree stops http://en.wikipedia.org/wiki/HSL_and_HSV */
.cp-slider-hue > div {
    background-image: linear-gradient(
            to top,
            #ff0000,
            #ffff00,
            #00ff00,
            #00ffff,
            #0000ff,
            #ff00ff,
            #ff0000
    );
}

.cp-slider-saturation > div {
    background-image: linear-gradient(to top, #fff, rgba(204, 154, 129, 0));
}

.cp-slider-value > div {
    background-image: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
}
