.lse-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0px!important;
}

.lse-image {
    margin: 6px 4px 4px;
}

.lse-animation-name {
    margin: 4px;
}

.lse-parameters {
    margin: 1rem;
}
