.led-segment-list {
    width: 33%;
    margin-top: 2px;
    margin-bottom: 8px;
}

.check-mark {
    position: absolute;
    bottom: 2px;
    right: 14px;
}

div.ui.label {
    /*font-size: x-small;*/
}
