/* Remove body margin and selection semantics */
body {
    margin: 0;
    -webkit-user-select: none;
    font-family: San-Francisco, HelveticaNeue-Light, sans-serif;
}

/* Fill entire screen */
.full-page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Page height container */
.page-height-container {
    position: absolute;
    top: 0;
    bottom: 0;
}

/* Fills parent allowing alignment of children */
.vertical-align-container {
    display: table;
    height: 100%
}

/* Elements to align in vertical-align-container */
.vertical-align-element {
    vertical-align: middle;
    display: table-cell;
}

/* Error box floats on top */
.error {
    z-index: 99;
    position: absolute;
    background-color: orange;
    padding: 8px;
}

/* Default button background (forces body to cover
   entire window so scroll prevention works) */
.buttons-background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: purple;
}

.white-background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* |a b|c; b = a/3; c = 2*a/3; */
.left-column {
    position: absolute;
    float: left;
    left: 1%;
    width: 32%;
    overflow-y: auto;
    overflow-x: hidden;
}

.mid-column {
    position: absolute;
    float: left;
    left: 34%;
    width: 32%;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-column {
    position: absolute;
    float: left;
    left: 67.3333%;
    width:31.6666%;
    overflow-y: auto;
    overflow-x: hidden;
}

.button {
    margin-top: 4px;
    display: table;
    width: 100%;
    height: 85px;
}

.button-content {
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: lightgray;
    cursor: default;
}

.button-blank {
    background-color: transparent;
}

.button-content-selected {
    border-bottom-left-radius: 30px;
}

.back-button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: table;
    margin: 2px;
    width: 33%;
    height: 85px;
}

/* Long press context menu floats on top */
.edit-menu {
    z-index: 9;
    position: absolute;
    background-color: darkorange;
    padding: 8px;
    font-size: large;
    font-weight: bold;
}

.edit-menu-row {
    height: 50px;
    width: 100%;
}

.edit-menu-input {
    font-size: x-large;
    height: 100%;
    border: 4px solid darkorange;
}

.edit-menu-select {
    font-size: x-large;
    padding: 5px;
    width: 100%;
    border: 4px solid darkorange;
}

.edit-menu-button {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    cursor: default;
    background-color: lightgrey;
    border: 4px solid darkorange;
}

.floating-button-half-width-container {
    height: 100%;
    width: 50%;
    float: left;
    display: table;
}

.floating-button-full-width-container {
    height: 100%;
    width: 100%;
    display: table;
}
